* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}
section{
      width: 100%; 
      max-width: 1200px; 
      margin: 0 auto; 
      overflow: hidden;
  } 

.box {
  overflow: auto;
  background-color: #999999;
  margin: 10px;
  border: 3px solid black; 
  float: left; 
  width: 100%; 
  box-sizing: border-box; 
  
}

.title-1 {
  background-color: #e5d198;
  width: 100px;
  height: 25px;
  text-align: center;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  float: right;
}

.p-1 {
  padding: 10px;
  clear: right;
  font-weight: 700;
}

.title-2 {
  background-color: #c14543;
  color: white;
  width: 100px;
  height: 25px;
  text-align: center;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  float: right;
}

.p-2 {
  padding: 10px;

  clear: right;
  font-weight: 700;
}

.title-3 {
  background-color: #d59898;
  width: 100px;
  height: 25px;
  text-align: center;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  float: right;
}

.p-3 {
  padding: 10px;

  clear: right;
  font-weight: 700;
}



@media (min-width: 992px) {
  .box{ 
      width: 31%; 
  } 

} 
@media (min-width: 768px) and (max-width: 991px) { 
  .box{ 
      width: 47%; 
  } 
  .box.c{
    width: 95.5%;
  }

} 
@media (max-width: 767px) { 
  .box{ 
      width: 96.5%; 
  } 


} 

